<!-- home.html -->
{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<div class="heropage">
    <div class="mensagem">
    <img src="{% static 'portfolio/images/image.png' %}" class="img_home">
        <p >
             Bem vindo ao meu Portfolio
        </p>
    </div>
 <div class="paralax1">
    <p>
        Jovem Português de 21 anos 🤙🏼‍
    </p>
     <p>
         Estudante em Engenharia Informatica 🧑🏻‍💻
     </p>
     <p>
         Gosto de Tecnologias Apple  💻  e de Treinar 🏋️
     </p>
  </div>
</div>
<div class='paralax2'>
     <a href="{% url 'portfolio:login' %}">Login</a>
     <a href="{% url 'portfolio:logout' %}">Logout</a>
  </div>
{% endblock %}