<!-- home.html -->
{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<div class="heropage">
    <div class="mensagem">
    <img src="{% static 'portfolio/images/image.png' %}" class="img_home">
        <p >
             Bem vindo ao meu Portfolio
        </p>
    </div>
 <div class="paralax1">
    <p>
        Jovem Português de 21 anos 🤙🏼‍
    </p>
     <p>
         Estudante em Engenharia Informatica 🧑🏻‍💻
     </p>
     <p>
         Gosto de Tecnologias Apple  💻  e de Treinar 🏋️
     </p>
  </div>
</div>
<div class='paralax2'>
  </div>
<div class="caixas">
    <div>
        <h1 id = "titulo"></h1>
        <p id = "pais"></p>
        <p> Segunda-Feira</p>
        <p id = "temperaturaSeg"></p>
        <p> Terca-Feira</p>
        <p id = "temperaturaTer"></p>
        <p> Quarta-Feira</p>
         <p id = "temperaturaQuar"></p>
        <p> Quinta-Feira</p>
         <p id = "temperaturaQui"></p>
        <p> Sexta-Feira</p>
         <p id = "temperaturaSex"></p>
    </div>
    <div>
        <h1 id = "stats">Covid-19 </h1>
        <p id = "country">País: </p>
        <p id = "population">NºPopulacao: </p>
        <p id = "active">Casos Activos: </p>
        <p id = "critical">Casos Criticos: </p>
        <p id = "recovered">Casos Recuperados: </p>
        <p id = "total">Mortes: </p>
        <p id = "time">Informacao ate o dia : </p>
    </div>
</div>
{% endblock %}